$primary-normal: #b1a00b;
$primary-dark: #b1a00b;
$primary-light: #b1a00b;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ebe7b6;
$white-dark: #ebe7b6;
$white-light:#ebe7b6;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;